* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Courier New", Courier, monospace;
	accent-color: white;
}
input,
select,
option {
	font-family: inherit;

	border: none;
}
header {
	box-shadow: 0 0 7px -2px black;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	flex-wrap: wrap-reverse;

	div {
		box-shadow: inset 0 0 10px -5px black;
		padding: 0.5rem 1rem;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		text-align: start;

		input,
		select,
		label {
			width: 10rem;
			cursor: pointer;
		}
	}
}
main {
	padding: 4rem;
	#galerie {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
		margin: 1rem;

		.artikel {
			box-shadow: 0 0 10px 2px lightgray;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.divImg {
				height: 300px;

				overflow: hidden;
				transition: overflow 500ms ease-in;
				display: flex;
				align-items: center;

				img {
					width: 100%;

					object-fit: contain;
					background-color: white;

					transition: all 350ms ease-in;
				}
				&:hover,
				&:focus {
					overflow: visible;
					img {
						scale: 1.1;
						box-shadow: 0 0 30px 5px black;
					}
					.divText {
						filter: blur(2px)
					}
				}
			}

			.divText {
				padding: 0.5rem;
				height: 100px;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;

				.title {
					font-size: 1.2rem;
				}
				.artist {
					font-style: italic;
					font-size: 0.9rem;
				}
			}
		}
	}
}
@media (max-width: 1000px) and (min-width: 650px) {
	main {
		padding: 1rem;
		#galerie {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
@media (max-width: 650px) {
	header {
		gap: .1rem;
		padding: .25rem;
		div {
			padding: .25rem;
		}
	}
	main {
		padding: 0.5rem;
		#galerie {
			grid-template-columns: 1fr;
		}
	}
}
